/* Владимир, прошу прощения за невнимательность, только осваиваюсь с функциями образовательной площадки. В прошлый раз я открыла комментарии только файла html, а про файл css не догадалась. Надеюсь, в этот раз получилось исправить все ошибки) */

body {
  background-color: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 92px 51px;
}

.header__menu {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  letter-spacing: 0.4px;
}

.header__links-list {
  display: flex;
  gap: 28px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
}

.header__logo-image {
  width: 130px;
  height: 105px;
}

.address {
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-underline-offset: 5px;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 757px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.cover__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
  position: relative;
  z-index: 1;
  letter-spacing: 0.3em;
  padding: 165px 50px 134px 50px;
}

.text {
  display: flex;
}

.aligned-text {
  line-height: 115%;
  justify-content: start;
}

.aligned-text_center {
  line-height: 140%;
  justify-content: center;
}

.aligned-text_right {
  line-height: 100%;
  justify-content: end;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.remove-spacing {
  letter-spacing: initial;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  color: #fff;
  padding: 0 50px 51px 78px;
}

.cover__description-text {
  text-transform: uppercase;
  word-spacing: 20px;
  line-height: 28px;
}

.cover__letter-text {
  letter-spacing: 19px;
}

.bet-button {
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  border: 1px #fff solid;
  background-color: transparent;
  text-transform: uppercase;
  padding: 12px 31px;
  font-family: "Raleway", sans-serif;
}

.lots {
  position: relative;
  padding: 0 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 183px 0px 30px 40px;
  line-height: 1;
}

.lots__card-list {
  display: flex;
  column-gap: 25px;
  row-gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  height: 100%;
}

.card-link {
  display: block;
  text-decoration: none;
  background-size: cover;
  height: 100%;
}

.card {
  position: relative;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  padding: 52px 40px 48px 40px;
  min-height: 563px;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  display: block;
  padding: 30px 0 10px 40px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  line-height: 23px;
}

.about {
  width: 1100px;
  padding: 171px 24px 0px 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 25px;
}

.about__logo {
  border-radius: 50%;
  background-color: #000000;
  width: 240px;
  height: 240px;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 46px;
  color: #000000;
  text-transform: uppercase;
  align-self: center;
  padding-top: 10px;
}

.about__text {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
}

.text-up {
  padding-right: 20px;
  position: relative;
  left: 0;
  bottom: 15px;
}

.text-down {
  letter-spacing: 0.005px;
  position: relative;
  top: 9px;
  left: 0;
  padding-right: 10px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 140px 50px 83px 50px;
}

.footer address {
  justify-self: flex-start;
  padding-top: 44px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  letter-spacing: 0.2px;
  padding: 23px 0 15px 0;
}

.footer__menu-list {
  text-align: center;
}

.footer__menu-list-item {
  list-style-type: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  gap: 48px;
}

.footer__social-list-item {
  list-style-type: none;
  padding: 50px 0;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
