body {
    background-color: #a7a6a6;
    width: 1100px;
    }

header {
    display: grid;
    background-color: #FFFFFF;
    grid-template-columns: 1.51fr 2fr 1.5fr;
    grid-template-rows: 1fr;
    align-items: center;
   }

.header__menu {
   display: flex;
   justify-content: center;
}

.header__links-list {
    display: flex;
    gap: 30px;
}

.header__logo {
    display: block;
    justify-self: center;
    align-self: center;
    width: 140px;
  }





/* overlay 

position: absolute;
width: 1100px;
height: 757px;
left: 0px;
top: 0px;

background: #000000;
opacity: 0.6; */
